<!DOCTYPE html>

<head>

    <title>
        CRUD Operation with Django And PostgreSQL
    </title>

</head>

<body>

    <center>
        <h1>CRUD Operation With Django And PostgreSQL</h1>
    
    <hr/>

    <a href="{% url 'insertemp'%}">Provide New Information</a>


    <table border='1'>
        <tr>

            <th>Employee id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Occupation</th>

        </tr>
        {% for result in data %}
        <tr>

        <td>{{result.id}}</td>
        <td>{{result.first_name}}</td>
        <td>{{result.last_name}}</td>
        <td>{{result.email}}</td>
        <td>{{result.gender}}</td>
        <td>{{result.salary}}</td>
        <td>{{result.occupation}}</td>
        <td><a href="edit/{{result.id}}">Edit</a></td>
        <td><a href="delete/{{result.id}}" onclick="return confirm('Are you sure you want to delete the record?')">Delete</a></td>
        
        </tr>
        
        {% endfor %}

    </table>
    </center>
</body>

</html>